/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2014, 3:07:03 PM
    Author     : Sar
*/

body{
  background: #FFF url('../img/intro_bkg.jpg') no-repeat 50% 0px;
  font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro {
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-icons {
  display: inline-block;
}
.social-icons li {
  float: left;
  width: auto !important;
  display: inline-block !important;
  vertical-align: top;
  clear: none !important;
  line-height: 70px;
}
.he-social {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  margin: 0 4px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  width: 36px;  
}
.he-social.ico-facebook {
  background-color: #3b5998;
  color: #f8f8f8;
}
.he-social.ico-twitter {
  background-color: #00a9ed;
  color: #f8f8f8;
}
.he-social.ico-google {
  background-color: #cd1111;
  color: #f8f8f8;
}
#non-header {
  margin-bottom: 80px;
}
#non-header img {
  padding: 0 15px;
}
img {
  border: 0;
  vertical-align: middle;
}
